{% extends 'base.html.twig' %}

{% block title %}Tâche : {{task.title}}
{% endblock %}

{% block body %}
	<header>
		<div id="current-user"></div>
		<div id="title-page">
			<h1>{{task.title}}</h1>
		</div>
	</header>
	<div id="content">
		{{ form_start(form) }}
		<div class="input">
			{{ form_row(form.title) }}
		</div>
    <div class="input">
			{{ form_row(form.description) }}
		</div>
    <div class="input">
			{{ form_row(form.date) }}
		</div>
    <div class="input">
			{{ form_row(form.status) }}
		</div>
		<div class="input">
			{{ form_row(form.member) }}
		</div>
    <br>
		<button class="button button-submit">Modifier</button>
    <a href="{{ path('app_task_remove', {project_id: task.project.id, task_id: task.id}) }}" class="delete-task">Supprimer la tâche</a>
		{{ form_end(form) }}
	</div>
{% endblock %}
